<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <% Array.wrap(Settings.other_points).each_with_index do |point, i| %>
      <li id="section-<%= i+1 %>">
      <h4><%= point["title"] %></h4>
      <p><%= point["text"] %></p>
      </li>
    <% end %>
  </ul>
</div>
